:host {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden; /* Evita el desbordamiento del componente */
}

th,
td {
	white-space: nowrap; /* Asegura que el contenido no se rompa en varias líneas */
	padding-left: 5px;
	padding-right: 5px;
}

.tableContainer {
	margin-left: 5px;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}
