<table border="1">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Código Postal</th>
			<th>Pueblo</th>
			<th>Provincia</th>
			<th>Comunidad Autonómica</th>
			<th>Teléfono</th>
			<th>Fax</th>
			<th>Correo Electrónico</th>
			<th>Juez Representante</th>
		</tr>
	</thead>
	<tbody>
		@for(juzgado of this.juzgadoService.resultados; track juzgado) {
		<tr>
			<th>{{ juzgado._nombre }}</th>
			<th>{{ juzgado._direccion }}</th>
			<th>{{ juzgado._codigo_postal }}</th>
			<th>{{ juzgado._pueblo }}</th>
			<th>{{ juzgado._provincia }}</th>
			<th>{{ juzgado._comunidad }}</th>
			<th>{{ juzgado._telefono }}</th>
			<th>{{ juzgado._fax }}</th>
			<th>{{ juzgado._correo }}</th>
			<th>{{ juzgado._juez }}</th>
		</tr>
		}
	</tbody>
</table>
